<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.northwestern.cbits.hackapp"
        versionCode="1" 
        version   = "0.0.1">


    <name>MobiSurvey</name>
    <icon src="icon.png" />

    <description>
    </description>

    <author href="http://cbits.northwestern.edu" email="m-begale@northwestern.edu">
        MobiSurvey
	</author>

    <access origin="http://localhost:12345" />
    <access origin="*" />


</widget>
