<div class="jumbotron">
<h2>{{appName}}</h2>

<i>Your care provider will assign you an ID before we begin!</i><br/> 
<b>Thanks for playing!</b>

<form ng-submit="startAssessment()">
  
<br/>
<input type="text" name="userID" placeholder="Enter your User ID" id="userId" required="required">
<br/><br/>
<button type="submit" ng-bind-html="submitButtonLabel" class="btn btn-primary"></button>

</form>

</div>

<div ng-controller="FetchContentCtrl">
	<button ng-click="fetchContent()" class="btn btn-warning" ng-bind-html="questionUpdateLabel"></button>
	<br/>{{lastUpdated}}
	<div id="update-summary">
		<div ng-repeat="item in summary">{{item.label}</div>
	</div>

</div>